.run{

background-color:#bdc3c7;

}

.mot-json{
  font-size: 6pt;
  font-family: open-sans;
  font-weight: bold;
  width: 0.5em;
  height: auto;
  overflow: hidden;
  word-wrap: break-word;
  margin: auto;
  color: black;
 }
.title{
  margin: 0;
}
