


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  margin-bottom: 5px;
}
.card-finish {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 350px;
  margin: 1rem;
  position: relative;
  width: 300px;
  margin-bottom: 5px;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}





.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.padded-light {
  padding-top: 4em;
  padding-bottom: 4em;
}
.bg-red {
  background:#EE5F5B ;
  color: white;
}
.bg-blue {
background-image: linear-gradient( 135deg, #ABDCFF 0%, #0396FF 100%);
  color: white;
}
.bg-yellow {
  background: #FDB631;
  color: white;
}
.bg-orange {
  background: #FF9966;
  color: white;
}


.bg-green {
  background: #32B796;
  color: white;
}
.bg-purple {
  background: #6452BD;
  color: white;
}
.bg-silver-light {
  background: #7F7F7F;
  color: black;
}
.bg-white {
  background: white;
  color: black;
}

.bg-light
{
  background:rgba(252, 252, 252, 0.7);
    color: black;
}
.footer
{
  border : 2px solide black;
  background-color:$blue-light;
  padding : 3em;

  font-size : 20px;

 }

