.run{

background-color:#bdc3c7;

}
 .link-navbar:hover
 }
{
  border: 1px solid #D5D6D7;



}
.footer
{


color:#777;
  font-size : 20px;
  font-family: robot;
    padding-top: 0em;
  padding-bottom: 1em;
}
  .fa
  {

    color:#777;
  }



.upercase{
  font-size :30px;
}
.legend-card{
  font-size: 20px;
  font-family: open-sans;
}
h1{
  font-family: arial;


}
#compteur{

  color: black;
  font-size: 60px;

}
#compteur2{

  color: white;
  font-size: 40px;

}
.style-h1
{
  font-size: 35px;

}
.mot-json{
font-size: 60px;
font-family: open-sans;

font-weight: bold;
}
.title{
  margin: 0;
}
.card {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 99%),url("../images/image2.jpg");
  display: inline-block;
height: 250px;

  position: relative;
width: 250px;
  padding-top: 3em;
  padding-bottom: 1em;
  color: white;
  border-radius: 10px;
}
.card-finish {
  border-radius: 10px;
  color: white;
   background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 99%),url("../images/image2.jpg");

  margin-bottom: 5px;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navbar-perso
{
  background-color: rgba(252, 252, 252, 0.8) ;
      margin-bottom: 0px;
}
.navbar-perso:hover
{
  background-color:  rgba(252, 252, 252, 1);

}

.background{
background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 99%),url(../images/background.jpg);
color: white;

background-repeat:no-repeat;
  padding-top: 12em;
  padding-bottom: 12em;
color: white;
  background-size: cover;

}
.background-mobile{
background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 99%),url(../images/background.jpg);
color: white;

background-repeat:no-repeat;
  padding-top: 3em;
  padding-bottom: 3em;
color: white;
  background-size: cover;

}

.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.padded-light {
  padding-top: 4em;
  padding-bottom: 4em;
}
.padded-mini {
  padding-top: 2em;
  padding-bottom: 2em;
}
.bg-red {
  background:#EE5F5B ;
  color: white;
}
.bg-blue {
background-image: linear-gradient( 135deg, #ABDCFF 0%, #0396FF 100%);
  color: white;
}
.bg-yellow {
  background: #FDB631;
  color: white;
}
.bg-orange {
  background: #FF9966;
  color: white;
}

.bg-gradient-1{
background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.bg-gradient-2{

background-color: #ecf0f1;
}

.bg-green {
  background: #32B796;
  color: white;
}
.bg-purple {
  background: #6452BD;
  color: white;
}
.bg-silver {
  background: #7F7F7F;
  color: black;
}
.bg-white {
  background: white;
  color: black;
}

.bg-light
{
  background: rgba(252, 252, 252, 0.7);
    color: black;
}


